<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-light">
        <div class="">
            <%= link_to root_path, class: "navbar-brand" do %>
            Goalversity
                <!-- <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %> -->
            <% end %>
        </div>
        <div class="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item add-space">
                    <%= link_to "Courses", courses_path, class: "nav-link" %>
                </li>
                <li class="nav-item add-space">
                    <%= link_to "Practice", "#", class: "nav-link" %>
                </li>
                <li class="nav-item add-space">
                    <%= link_to "Daily", "#", class: "nav-link" %>
                </li>
            </ul>
        </div>
        <div class="">
             <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <%= link_to "Logout", courses_path, class: "nav-link" %>
                </li>
            </ul>
        </div>
</div>